:root {
    --text-color: white;
    --theme-color: rgb(0, 61, 71);
    --button-color: rgb(12, 128, 206);
}
::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--theme-color);
    position: relative;
}
input {
    font-size: 1rem;
}
input:focus {
    outline: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-1 {
    font-size: 1.2rem;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
